@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;700&family=Lexend+Deca:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.three-col{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.first-col{
  background-color: orange;
  height: 460px;
    width: 300px;
    border-top-left-radius: 10px;border-bottom-left-radius: 10px;
}
.second-col{
    background-color: rgb(29, 88, 110);
    height: 460px;
      width: 300px;
}
.third-col{
    background-color: rgb(20, 69, 63);
    height: 460px;
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.first-content{
    padding: 40px;
}
.first-content h1{
    color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 510;
    text-transform: uppercase;
    padding: 20px 0px 30px 0px;

}
.first-content p{
    color: #e8e8e8;
    width: 220px;
    font-family: 'Lexend Deca', sans-serif;

}
.btn,btn-primary{
    margin: 50px 0px 30px 0px;
    background-color: #fff;
    color: rgb(218, 142, 1);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Lexend Deca', sans-serif;
    outline: none;
    border: none;
}
.second-content{
    padding: 40px;
}
.second-content h1{
    color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
   font-weight: 510;
    text-transform: uppercase;
    padding: 20px 0px 30px 0px;

}
.second-content p{
    color: #d1d1d1;
    width: 220px;
    font-family: 'Lexend Deca', sans-serif;

}
.third-content{
    padding: 40px;
}
.third-content h1{
    color: #fff;
    font-family: 'Big Shoulders Display', sans-serif;
   font-weight: 510;
    text-transform: uppercase;
    padding: 20px 0px 30px 0px;

}
.third-content p{
    color: #d1d1d1;
    width: 220px;
    font-family: 'Lexend Deca', sans-serif;

}

@media screen and (max-width:578px) {
    .three-col{
        display: flex;
        flex-direction: column;
        }

        .first-col{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
          }
          .third-col{
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px ;
            border-bottom-right-radius: 10px;
          }

          .btn,btn-primary{
            margin: 20px 0px 20px 0px; 
            background-color: #fff;
            color: rgb(218, 142, 1);
            border-radius: 30px;
            padding: 10px 30px;
            font-family: 'Lexend Deca', sans-serif;
            outline: none;
            border: none;
        }

        .first-col,.second-col,.third-col{
            height:auto;
        }
}